body {
    color: #fff;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.hero-body h1,
.hero-body h2,
.hero-body h3,
.hero-body h4,
.hero-body h5,
.hero-body h6 {
    color: #fff;
}

a {
    padding: 0;
    color: #c5c5c5;
}

a:hover {
    color: #b7b7b7;
}

pre {
    font-family: 'Nunito Sans';
}

.btn-transparent {
    color: #fff;
}

.player-content .row img {
    max-width: 100%;
    min-width: 100px;
    border-radius: 100%;
}

.header {
    background-color: rgb(105, 105, 105);
    box-shadow: 0 0 32px rgba(0,0,0,.15);
    opacity: .6;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header:hover {
    opacity: .9;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header-item {
    width: 48px;
    height: 60px;
}

#background {
    position: fixed;
    opacity: .5;
    backface-visibility: hidden;
}

#mainPlayer {
    overflow-y: auto;
    height: 100%;
}

#histItemBg {
    position: absolute;
    /*-webkit-transform: translateZ(0);*/
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    z-index: 0;
}

.overlay {
    position: relative; /* Keeps the content above the background */
}

.bg-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120% 120%;
    filter: blur(15px) brightness(.5);
    -webkit-filter: blur(15px) brightness(.5);
    -webkit-transform: scale(1.2);
            transform: scale(1.2); /* Removes the white edges from the player image */
    z-index: -1; /* Make the scrollbar visible */
-webkit-perspective: 1000;
-webkit-backface-visibility: hidden;
}

#playerInfoContainer {
    width: 100%;
    /*height: 80%;*/
    padding-right: 0;
}

.flipContainer {
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    max-width: 450px;
    margin: 0 auto;
}

.flipContainer div, .flipContainer img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Flipped state of container */
.flipContainer.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flipContainer.flipped .song-desc {
    overflow-y: auto;
}

#songArt {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#songContainer .card {
    min-height: 100%;
    background: transparent;
    padding-top: 4rem;
}

#songContainer .card:hover {
    box-shadow: none;
}

.title {
    font-weight: normal;
}

.card {
    background-color: rgba(140, 140, 140, 0.05);
    box-shadow: none;
    backface-visibility: hidden;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
}

.card .title {
    font-size: 1rem;
    font-weight: 200;
}

.card .subtitle {
    font-size: 0.8rem;
}

.card .action-bar {
    border: none;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
    max-height: 0;
    opacity: 0;
}

.card .desc {
    flex-grow: 1;
}

.card p {
    margin: inherit;
}

.card:hover .row .action-bar {
    max-height: 500px;
    opacity: 1;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
    z-index: 10;
}

.subtitle + .subtitle {
    margin-top: -1.25rem;
}

.player-content {
    max-width: 60em;
    margin: 1rem auto 2.2833%;;
    width: 90%;
}

.content {
    width: 90%;
}

.card:first {
    margin-top: 0;
}

#histContainer {
    overflow-y: auto;
    height: 100%;
    background-color: rgba(148, 148, 148, .1);
}

#histContainer:hover .card {
    opacity: .3;
}

#histContainer .card {
    border-radius: 0;
}

#histContainer .card:hover {
    opacity: 1;
}

.song-desc {
    max-height: 450px;
    height: 100%;
    overflow-y: none;
    position: absolute;
    display: block;
    top: 0;
    max-width: 450px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    width: 100%;
    text-align: center;
}

.song-desc p {
    font-size: .8rem;
    line-height: 1.3rem;
    margin: .2rem;
}

#widgettest {
    visibility: hidden; /* Hide the widget from user */
    position: fixed;
    opacity: 0;
}

.action-bar-item {
        -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.action-bar-item a , .action-bar-item a > button {
    width: 100%;
}

.action-bar-item a > button {
    margin: .4rem 0;
}

.waveform {
    vertical-align: middle;
    height: 100px;
    margin: 0 10px;
    width: 100%;
    opacity: .8;
    transition: all .3s;
    bottom: 50px;
}

.waveform:hover {
    opacity: 1;
}

/* Mobile / Tablets */
@media screen and (max-width: 768px) {
    .card {
        text-align: center;
    }

    .header-fixed {
        position: fixed;
    }

    #playerHero {
        padding-top: 60px;
    }   

    #histContainer .action-bar {
        max-width: 250px;
    }
}

/* Laptops / Desktops */
@media screen and (min-width: 768px) {
    .player-content {
        margin-top: 0;
    }

    #histContainer {
        box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.1); /* Left shadow */
    }
}

/* Wide Desktops */
@media screen and (min-width: 1600px) {
    #playerInfoContainer {
        display: flex;
    }

    #mainPlayer {
        flex-grow: 1;
    }

    #histContainer {
        max-width: 400px;
        float: right;
    }
}