/* GLOBAL STYLES */
body {
    color: #fff;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.hero-body h1,
.hero-body h2,
.hero-body h3,
.hero-body h4,
.hero-body h5,
.hero-body h6 {
    color: #fff; 
}

a {
    padding: 0;
    color: #c5c5c5;
}

p {
    font-family: 'Proxima Nova', 'Nunito Sans', sans-serif;
}

a:hover {
    color: #b7b7b7;
}

pre {
    font-family: 'Nunito Sans';
}

#playerHero {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-transparent {
    color: #fff;
}

.player-content .row img {
    max-width: 100px;
    min-width: 100px;
    border-radius: 100%;
}


/* HEADER MENU */
.header {
    background-color: rgb(105, 105, 105);
    box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px;
    opacity: .6;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header:hover {
    opacity: .9;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.header-item {
    width: 48px;
    height: 60px;
    cursor: pointer;
}

.btn-nimbus {
    border-radius: 50px;
    background: transparent;
    border: 1px solid #bbb;
    color: #a9a9a9;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid rgba(169, 169, 169, 0.3);
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
    margin: .1rem;
    position: relative;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
}

.btn-nimbus:hover {
    background: #374054;
    border-color: #374054;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* DIALOG */
.overlay-dialog {
    position: absolute;
    z-index: 999;
    /*background: rgba(238, 238, 238, 0.95);*/
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
            overflow: auto;
}

.overlay-dialog.shown {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
}

/*.overlay-dialog .content {
    max-width: none;
}*/

.dialog-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #b1b1b1;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.dialog-close-btn:hover {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #eee;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}


/* MAIN PLAYER UI */
#background {
    position: fixed;
    opacity: .5;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#artContainer {
    margin: 1rem 0;
    padding: 0;
}

#mainPlayer {
    overflow-y: auto;
    height: 100%;
}

#histItemBg {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    z-index: 0;
}

.hist-play {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    cursor: pointer;
    border: 2px solid #fff;
}

#histContainer .card:hover .hist-play,
#histContainer .card:focus .hist-play {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: none;
            transform: none;
}

#histContainer .card:hover,
#histContainer .card:focus {
    opacity: 1 !important;
}


.overlay {
    position: relative; /* Keeps the content above the background */
}

.bg-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    filter: blur(15px);
    -webkit-filter: blur(15px);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

#playerInfoContainer {
    width: 100%;
    height: 100vh;
    padding-right: 0;
}

.flipContainer {
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    max-width: 450px;
    margin: 0 auto;
}

.flipContainer div, .flipContainer img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Flipped state of container */
.flipContainer.flipped {
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flipContainer.flipped .song-desc {
    overflow: auto;
    padding: 0 1rem;
}

#songArt {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-height: 450px;
}

/*#flipContainer.flipped img { /* Just in case the song art is missing, it does not decrease description height */
    /*padding-bottom: 100%;
}*/

#songContainer {
    height: 100%;
}

#songContainer .card {
    min-height: 100%;
    background: transparent;
    box-shadow: none;
}

#songContainer .card:hover {
    box-shadow: none;
}

#songContainer .title {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Montserrat';
}

#trackTitle {
    font-family: 'proxima_nova_ltthin';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trackUser {
    opacity: .75;
}

#curTime {
    letter-spacing: 1px;
}

.title {
    font-weight: normal;
}

.card {
    background-color: rgba(140, 140, 140, 0.05);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
}

.card .title {
    font-size: 1rem;
    font-weight: 200;
}

.card .subtitle {
    font-size: 0.8rem;
}

.card .action-bar {
    border: none;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
    max-height: 0;
    opacity: 0;
}

.card .desc {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.card p {
    margin: inherit;
    max-height: inherit;
}

.card:hover .row .action-bar {
    max-height: 500px;
    opacity: 1;
    -webkit-transition: all 1.0s cubic-bezier(0,0,0.3,1);
    transition: all 1.0s cubic-bezier(0,0,0.3,1);
    z-index: 10;
}

.subtitle + .subtitle {
    margin-top: -1.25rem;
}

.player-content {
    max-width: 60em;
    margin: 1rem auto 0rem;
    width: 90%;
}

.content-no-padding {
    width: 90%;
}

.card:first {
    margin-top: 0;
}

#histContainer {
    overflow-y: auto;
    height: 100%;
    background-color: rgba(148, 148, 148, .1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#histContainer:hover .card {
    opacity: .3;
}

#histContainer .card {
    border-radius: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.song-desc {
    max-height: 450px;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    max-width: 450px;
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    width: 100%;
    text-align: center;
    background-color: rgba(142, 142, 142, 0.1);
    overflow: hidden;
}

.song-desc pre {
    white-space: pre-wrap;
        -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
}

#widgettest {
    visibility: hidden; /* Hide the widget from user */
    position: fixed;
    opacity: 0;
}

.action-bar-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.action-bar-item a , .action-bar-item a > button {
    width: 100%;
}

.action-bar-item a > button {
    margin: .4rem 0;
}

.waveform {
    vertical-align: middle;
    height: 75px;
    margin: 0 5px;
    width: 100%;
    opacity: .8;
    -webkit-transition: all .3s;
    transition: all .3s;
    bottom: 50px;
}

.waveform:hover {
    opacity: 1;
}

#descNavBar button {
    height: 3rem;
    padding: 0 .5rem;
}

#descNavBar span {
    padding-left: .6rem;
}

/* Song Desc Nav buttons */
#desc-likes:hover {
    color: #f03d4d;
    padding: 0 1.5rem;
}

#desc-comments:hover {
    color: #00ffa4;
    padding: 0 1.5rem;
}

#desc-reposts:hover {
    color: #5fcaff;
    padding: 0 1.5rem;
}

#desc-user:hover {
    color: #c285ff;
    padding: 0 1.5rem;
}

#desc-buy:hover {
    color: #ffaa0a;
    padding: 0 1.5rem;
}

#descStats p {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
}

#descTags {
    white-space: nowrap;
    overflow-x: auto;
}

#optionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
}

.overflow-container {
    overflow-x: auto;
    height: 7rem;
    position: relative;
}

.overflow-container .row {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.unfocused {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-animation-timing-function: cubic-bezier(.17,.67,1,1.23);
            animation-timing-function: cubic-bezier(.17,.67,1,1.23);
}

/* Button notifier */
.badge[data-badge]::after, .badge:not([data-badge])::after {
        background: #ee265f;
    background-clip: padding-box;
    border-radius: 1rem;
    font-size: .4rem;
    color: #fff;
    content: attr(data-badge);
    display: inline-block;
    -webkit-transform: translate(-.2rem, -1rem);
    -ms-transform: translate(-.2rem, -1rem);
    transform: translate(-.2rem, -1rem);
    font-size: 0.6rem;
    position: absolute;
    line-height: 1;
    padding: .2rem .3rem;
    text-align: center;
    white-space: nowrap;
    right: 0;
}

/* Mobile / Tablets */

@media screen and (max-width: 768px) {

    .level {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; /* Keep flex */
    }

    .header-item {
        height: 56px;
    }

    #background::before {
        content: ' ';
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(21, 19, 30, 0.85));
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(21, 19, 30, 0.85));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        will-change: transform;
    }

    /* Make mobile performance faster */
    #background {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        /*-webkit-transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);*/
        backface-visibility: hidden;
        perspective: 1000;
        /*transform: translate3d(0,0,0);
        transform: translateZ(0);*/
        -webkit-transform: scale(1.1);
                transform: scale(1.1); /* Get rid of black border in blur */
    }

    .card:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .header-fixed {
        position: fixed;
    }

    #playerHero {
        padding-top: 60px;
    }   

    #histContainer .action-bar {
        max-width: 250px;
    }

    .header-center {
        width: 0; 
        opacity: 0;
    }

    .header-right {
        -webkit-box-flex: 0.5;
            -ms-flex-positive: 0.5;
                flex-grow: 0.5; /* Allow more space for media controls */
    }

    /* Shrink font awesome */
    .fa {
        font-size: 14px !important;
    }

    /* Massive UI redesign for mobile */
    #mainPlayer {
        position: fixed;
        top: 5%;
    }

    #songContainer {
        width: 100%;
    }

    #songContainer .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -2rem;
        box-shadow: none; /* Override Cirrus style */
    }

    #histContainer {
        overflow: hidden;
        min-height: 100%;
        height: inherit;
        background-color: rgba(35, 35, 35, .95);
        top: 110%;
        position: absolute;
        box-shadow: rgba(29, 29, 31, 0.55) 0 -10px 60px;
        -webkit-box-shadow: rgba(29, 29, 31, 0.55) 0 -10px 60px;
        -moz-box-shadow: rgba(29, 29, 31, 0.55) 0 -10px 60px;
    }

    #histContainer .bg-image {
        background: none !important;
    }

    #histContainer:hover .card {
        opacity: .6;
    }

    #searchField {
        font-size: 2rem;
    }

    #playerInfoContainer {
        min-height: 100vh;
        height: inherit;
    }

    .waveform {
        vertical-align: middle;
        height: 50px;
        margin: 0;
    }
}

/* Laptops / Desktops */
@media screen and (min-width: 768px) {

    .bg-image {
        filter: blur(15px) brightness(.5);
        -webkit-filter: blur(15px) brightness(.5);
        -webkit-transform: scale(1.2);
            transform: scale(1.2); /* Removes the white edges from the player image */
        z-index: -1; /* Make the scrollbar visible */
    }

    #histContainer {
        box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.1); /* Left shadow */
    }

    #songContainer .card {
        min-height: 100%;
        background: transparent;
        padding-top: 4rem;
    }
}

/* Wide Desktops */
@media screen and (min-width: 1600px) {
    #playerInfoContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #mainPlayer {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }

    #histContainer {
        max-width: 400px;
        float: right;
    }
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(70, 70, 70, 0.25);
}

::-webkit-scrollbar
{
	width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(128, 128, 128, 0.4);
}

@media screen and (max-width: 768px) {
	::-webkit-scrollbar { width: 0 !important; height: 0 !important }
}

/* The tab pages (not the tabs in the tab strip) */
.tabpage {
    display: none;
    min-height: 50vh;
    color: #ffffff;
}

.tabpage.shown {
    display: block;
}

.tabpage h3 {
    color: #fff;
}

.tabpage .divider {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.tabpage p {
    color: rgba(255, 255, 255, 0.5);
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container p,
.toggle-container h3 {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1rem 0;
}

.toggle-container .toggle-switch {
    flex-shrink: 1;
}

/*  QUEUE */
/*.scrollable-container {
    height: 50vh;
    overflow: auto;
}*/

#queueContainer:after {
    content: "";
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 90%);
    width: 100%;
    height: 15rem;
}

/* QUEUE ITEM */
.queue-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(55, 64, 84, 0.15);
}

.queue-item h6 {
    color: #ffffff;
    display: flex;
}

/* Style the song title */
.queue-item h6 > span, .queue-item p > span {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.queue-item .pull-right {
    margin-left: 1rem;
    text-align: right;
}

.queue-item p {
    margin-bottom: 0.5rem;
    display: flex;
}

.queue-item .queue-item-actions {
    text-align: right;
}

.queueDelete {
    color: #b1b1b1;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.queueDelete:hover {
    color: #eee;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.tab-container li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: .7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.settings-title {
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-weight: lighter;
    font-size: .9rem;
    letter-spacing: 5px;
    margin: 0;
    margin-top: 1.5rem;
}

/*.btn-tooltip:focus::after, .btn-tooltip:hover::after {
    -webkit-transform: translate(-50%, 2rem);
    -ms-transform: translate(-50%, 2rem);
    transform: translate(-50%, 2rem);
}*/

@media screen and (max-width: 768px) {
    #dashboardModalContainer .hero-body {
        padding: 3rem 0 0 0;
    }

    /*.scrollable-container {
        height: 45vh;
        overflow: auto;
    }*/

    .tabpage p {
        font-size: 0.85rem;
    }
}
.settings-rb{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
    height: 3.5rem;
}

.settings-rb input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.settings-rb label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 28px 25px 15px 70px;
    margin: 10px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
}

.settings-rb:hover label{
	color: #FFFFFF;
}

.settings-rb .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.settings-rb:hover .check {
  border: 5px solid #FFFFFF;
}

.settings-rb .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background .25s linear;
    -webkit-transition: background .25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

@media screen and (max-width: 768px) {
    .settings-rb label {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .settings-rb .check::before {
        height: 8px;
        width: 8px;
        top: 3px;
        left: 3px;
    }

    .settings-rb .check {
        height: 20px;
        width: 20px;
    }

    .settings-rb .check,
    .settings-rb:hover .check,
    input[type=radio]:checked ~ .check {
        border-width: 3px;
    }
}
.search-item {
    cursor: hand;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-item:hover {
    background: #fff;
    margin: 0 .5rem;
    padding: 0.2rem 1rem;
    box-shadow: 0 0 10px 0px rgba(51, 59, 82, 0.25);
    -webkit-transition: all .3s;
    transition: all .3s;
}



#searchModalContainer h3,
#searchModalContainer h6 {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #888;
}

#searchField {
    background: transparent;
    outline: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.5);
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 9rem;
    color: #fafafa;
    border-radius: 0;
    transition: transform 600ms, -webkit-transform 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#searchField:focus {
    border-bottom: 1px solid rgba(158, 158, 158, 0.8);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.search-item {
    cursor: hand;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-item:hover {
    background: #fff;
    margin: 0 .5rem;
    padding: 0.2rem 1rem;
    box-shadow: 0 0 10px 0px rgba(51, 59, 82, 0.25);
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* CHART ITEMS */

.chart-item {
    background: transparent;
    cursor: pointer;
    margin: 1rem auto;
    backface-visibility: hidden;
}

.chart-item .card-image {
    border-radius: 5px;
}

.chart-item .card-container {
    padding-bottom: 100%;
    min-height: inherit;
}

.chart-item .title-container .title {
    font-family: 'Montserrat';
    font-weight: 700;
}

#chartModalDialog .content {
    width: 100%;
}

@media screen and (max-width: 992px) {
    #searchField {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #allCharts .chart-item {
        margin: 0;
    }

    #chartModalContainer .hero-body {
        padding: 3rem 0;
    }
}

@media screen and (min-width: 600px) {
    #chartModalContainer .row [class*=" col-"]:not(.ignore-screen), #chartModalContainer .row [class^=col-]:not(.ignore-screen) { /* Grids appear for tablets too */
        width: 33.33333333%;
        margin-top: 1rem;
        margin-left: auto;
    }
}

@media screen and (max-width: 512px) {
    #searchModalContainer .content {
        margin: 0;
        width: 100%;
    }

    .chart-item {
        margin-left: -0.5rem;
    }

    .chart-overflow {
        position: absolute;
        width: 100%;
        margin: 0;
        left: 0;
        overflow: hidden;
        margin-bottom: 3rem;
    }

    #chartContainer {
        padding: 0 2.5rem;
    }
}
.toast {
    max-width: 25rem;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: .3s;
    box-shadow: 0 0 20px 2px rgba(37, 42, 53, 0.45);
    border: 0;
    z-index: 9999;
}

.toast.shown {
    transform: translateY(-7rem);
}

.toast p {
    margin: 0.5rem 0;
}

#toastContainer {
    bottom: -6rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .toast {
        padding: 0;
    }

    .toast p {
        font-size: .9rem;
    }
}
.button-switch {
  display: inline-block;
}
.button-switch input[type="checkbox"] {
  display: none;
}
.button-switch input[type="checkbox"] + span {
  text-transform: uppercase;
    background: transparent;
    border: 1px solid rgba(169, 169, 169, 0.3);
    color: #a9a9a9;
      font-size: .6rem;
    line-height: 1rem;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
    margin: .1rem;
    position: relative;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-weight: bolder;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
     display: inline-flex; 
}
.button-switch input[type="checkbox"] + span:hover {
    background: rgba(169, 169, 169, 0.4);
    color: #fff;
}
/*.button-switch input[type="checkbox"] + span:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  font-size: 55px;
  display: block;
  content: ":)";
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.button-switch input[type="checkbox"] + span.sad:before {
  content: ":(";
}*/
.button-switch input[type="checkbox"]:checked + span {
  background: #374054;
  color: #fff;
  border-color: #374054;
}

#optionsContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* Settings Toggle Switch */
.toggle-switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
  margin-top: -1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
  width: 20px;  
  height: 20px;
	background: #fff;
	border-radius: 90px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch input:checked + label {
	background: #ff1b4c;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch input:checked + label:after {
	left: calc(100% - 5px);
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.toggle-switch label:active:after {
	width: 30px;
}

@media screen and (min-width: 768px) {
  #optionsContainer {
        padding-left: 2rem;
  }
}
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  /*background: rgba(255, 255, 255, 0.7);*/
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  /*background: rgba(255, 255, 255, 0.7);*/
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  cursor: -webkit-grab;
    border-color: #fff;
  -webkit-transition: all .3s;
    transition: all .3s;
  
}

#volumeContainer:hover input[type=range]::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    bottom: 11px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: #fff;
  cursor: -webkit-grab;
    border-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#volumeContainer:hover input[type=range]::-moz-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    bottom: 11px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}