#dashboardModalContainer .hero-body {
    padding: 0 1.5rem;
}

/* The tab pages (not the tabs in the tab strip) */
.tabpage {
    display: none;
    min-height: 50vh;
    color: #ffffff;
}

.tabpage.shown {
    display: block;
}

.tabpage h3 {
    color: #fff;
}

.tabpage .divider {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.tabpage p {
    color: rgba(255, 255, 255, 0.5);
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container p {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1rem 0;
}

.toggle-container .toggle-switch {
    flex-shrink: 1;
}

/*  QUEUE */
#queueContainer {
    height: 55vh;
    overflow: auto;
}

#queueContainer:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 90%);
    width: 100%;
    height: 15rem;
}

/* QUEUE ITEM */
.queue-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(55, 64, 84, 0.15);
}

.queue-item h6 {
    color: #ffffff;
    display: flex;
}

/* Style the song title */
.queue-item h6 > span, .queue-item p > span {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.queue-item .pull-right {
    margin-left: 1rem;
    text-align: right;
}

.queue-item p {
    margin-bottom: 0.5rem;
    display: flex;
}

.queue-item .queue-item-actions {
    text-align: right;
}

.tab-container li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: .7rem;
    letter-spacing: 3px;
}

/*.btn-tooltip:focus::after, .btn-tooltip:hover::after {
    -webkit-transform: translate(-50%, 2rem);
    -ms-transform: translate(-50%, 2rem);
    transform: translate(-50%, 2rem);
}*/

@media screen and (max-width: 768px) {
    .tabpage p {
        font-size: 0.85rem;
    }
}