.search-item {
    cursor: hand;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-item:hover {
    background: #fff;
    margin: 0 .5rem;
    padding: 0.2rem 1rem;
    box-shadow: 0 0 10px 0px rgba(51, 59, 82, 0.25);
    -webkit-transition: all .3s;
    transition: all .3s;
}



#searchModalContainer h3,
#searchModalContainer h6 {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #888;
}

#searchField {
    background: transparent;
    outline: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #aaa;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9rem;
    color: #363636;
    border-radius: 0;
    transition: transform 600ms, -webkit-transform 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#searchField:focus {
    border-bottom: 1px solid #363636;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.search-item {
    cursor: hand;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-item:hover {
    background: #fff;
    margin: 0 .5rem;
    padding: 0.2rem 1rem;
    box-shadow: 0 0 10px 0px rgba(51, 59, 82, 0.25);
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* CHART ITEMS */

.chart-item {
    background: #fff;
    cursor: pointer;
    margin: 1rem auto;
    backface-visibility: hidden;
}

.chart-item .card-image {
    border-radius: 5px;
}

.chart-item .card-container {
    padding-bottom: 100%;
    min-height: inherit;
}

.chart-item .title-container .title {
    font-family: 'Montserrat';
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    #searchField {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #searchModalContainer .content {
        margin: 0;
        width: 100%;
    }

    .chart-item {
        margin-left: -0.5rem;
    }
}