.toast {
    max-width: 25rem;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: .3s;
    box-shadow: 0 0 20px 2px rgba(37, 42, 53, 0.45);
    border: 0;
}

.toast.shown {
    transform: translateY(-7rem);
}

.toast p {
    margin: 0.5rem 0;
}

#toastContainer {
    bottom: -6rem;
    position: fixed;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .toast {
        padding: 0;
    }

    .toast p {
        font-size: .9rem;
    }
}