.button-switch {
  display: inline-block;
}
.button-switch input[type="checkbox"] {
  display: none;
}
.button-switch input[type="checkbox"] + span {
  text-transform: uppercase;
    background: transparent;
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    margin: .1rem;
    position: relative;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-weight: bolder;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
     display: inline-flex; 
}
.button-switch input[type="checkbox"] + span:hover {
    background: rgba(169, 169, 169, 0.4);
    color: #fff;
}
/*.button-switch input[type="checkbox"] + span:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  font-size: 55px;
  display: block;
  content: ":)";
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.button-switch input[type="checkbox"] + span.sad:before {
  content: ":(";
}*/
.button-switch input[type="checkbox"]:checked + span {
  background: #a9a9a9;
  color: #fff;
}

#optionsContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* Settings Toggle Switch */
.toggle-switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
  width: 20px;  
  height: 20px;
	background: #fff;
	border-radius: 90px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch input:checked + label {
	background: #ff1b4c;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-switch input:checked + label:after {
	left: calc(100% - 5px);
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.toggle-switch label:active:after {
	width: 30px;
}