.button-switch {
  display: inline-block;
}
.button-switch input[type="checkbox"] {
  display: none;
}
.button-switch input[type="checkbox"] + span {
  text-transform: uppercase;
    background: transparent;
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    margin: .1rem;
    position: relative;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    user-select: none;
    font-weight: bolder;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
     display: inline-flex; 
}
.button-switch input[type="checkbox"] + span:hover {
    background: rgba(169, 169, 169, 0.4);
    color: #fff;
}
/*.button-switch input[type="checkbox"] + span:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  font-size: 55px;
  display: block;
  content: ":)";
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.button-switch input[type="checkbox"] + span.sad:before {
  content: ":(";
}*/
.button-switch input[type="checkbox"]:checked + span {
  background: #a9a9a9;
  color: #fff;
}

#optionsContainer {
  justify-content: flex-start;
}